.screen {
    display: flex;
    justify-content: center;
}

.board {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    margin: 0 auto;
}

.key {
    width: 50px;
    height: 50px;
    background-color: rgb(76, 75, 75);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.special {
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.special.part {
    width: 50px;
}

.space {
    width: 350px;
}


#input {
    resize: none;
    width: 600px;
    height: 100px;
    background-color: blanchedalmond;
    font-size: 24px;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row {
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.pressed {
    transition: background-color  0.4s ease;
    background-color: rgb(247, 176, 11);
    
}

.hidden {
    display: none;
}